<div style="display: flex; justify-content: center; margin-top: 10%; width: 100%;">
    <div >
        <ul class="" id="myTab" role="tablist">
          <li class="nav-item mb-3" role="presentation">
            <button  class="btn btn-light" routerLink="/seeker" id="profile-tab" routerLinkActive="active" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Busqueda de paciente</button>
          </li>
            <li class="nav-item" role="presentation">
              <button  class="btn btn-light" routerLink="/busquedaexpediente" id="home-tab" routerLinkActive="active" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Consulta de expediente</button>
            </li> 
          </ul>
    </div>
  </div>