<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <h1>Sistema</h1>
        </div>
    </div>
  <div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link"  routerLink="/busquedaexpediente" id="home-tab" routerLinkActive="active" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Consulta de expediente</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" routerLink="/seeker" id="profile-tab" routerLinkActive="active" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Busqueda de paciente</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" routerLink="/user-register" id="contact-tab" routerLinkActive="active" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Alta de paciente</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
             <router-outlet></router-outlet>
          </div>
    </div>
  </div>
</div>